@import "./main.scss";
@import "./variables.scss";

*{
	margin: 0px;
	padding: 0px;
}

body{
	position: relative;
	height: 100%;
	@include backgroundGradient();
}

#dialog-wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0px;
	left: 0px;
	z-index: -1;
	display: none;
}

#header{
	width: 100%;
	color: $weis;
	margin-top: 20px;
	/*background-color: $hellbraun;*/
	/*border-color: $grau;*/
	border-width: 0px 0px 0px 0px;
	border-style: solid;
	box-sizing: border-box;
	
}

#header-center{
	width: $contentWidth;
	margin: 0 auto;
	background-color: $weis;
	padding: 2px;
	border-radius: 3px;
	@include shadowBoxes();
}

.bar{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 30px;
	background-color: $hellbraun;
	@include barGradient();
	margin: 0 auto;
	color: $weis;
	font-weight: bold;
	line-height: 30px;
	padding: 0px 20px 0px 20px;
	font-size: $bar;
	
}

#header-top{
	
}

#header-bottom{
	border-radius: 3px;
	height: 40px;
	padding: 0px 20px 0px 20px;
	color: $dunkelbraun;
}

#header-center .header-button{
	margin-top: 10px;
	height: 100%;
	line-height: 38px;
	cursor: pointer;
	color: $dunkelbraun;
}

#header *{
	color: $weis;
}


#main{
	width: $contentWidth;
	margin: 30px auto 0px auto;
}

.segment{
	box-sizing: border-box;
	padding: 2px;
	border-radius: 3px;
	background-color: $weis;
	@include shadowBoxes();
	border: 1px solid #878787;
}

#main #navigation{
	width: 20%;
	box-sizing: border-box;
	padding: 2px;
	border-radius: 3px;
	background-color: $weis;
	@include shadowBoxes();
	float: left;
	margin: 0px 15px 0px 0px;
}

#navigation-content{

}



#main #content{
	box-sizing: border-box;
	width: calc(80% - 15px);
	
	position: relative;
	float:left;
}

#content-top .float-left{
	display: inline-block;
	width: calc(50% - 2px);
	color: $weis;
}
#content-top .float-right{
	display: inline-block;
	width: calc(50% - 2px);
	color: $gelb;
	text-align: right;
}

#zurueck-button{
	color: $gelb;
}

#content-content{
	/*height: 400px;*/
	padding: 20px;
}

#footer{
	height: 70px;
	position: absolute;
	bottom: 0px;
	color: $weis;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	background-color: $hellbraun;
	border-color: $grau;
	border-width: 2px 0px 0px 0px;
	border-style: solid;
}

#footer *{
	color: $weis;
}

.mobile-menu-button{
	height: 100%;
    position: absolute;
    top: 0px;
    right: 5px;
}



@media screen and (min-width: 200px) and (max-width: 600px){
	body {
		/*height: auto;*/
	}
	
	#header{
		margin: 0px;
	}

	#header-center{
		width: 100%;
		padding: 0px;
		border-radius: 0px;
		border-width: 0px 0px 1px 0px;
	}
	
	#header-top{
		border-radius: 0px;
		margin: 0px;
		padding: 0.5em;
		position: relative;
	}
	
	#main{
		width: 100%;
	}
	
	#main #content{
		width: 100%;
	}
	
	#content-content{
		padding: 20px 0px 20px 0px;
	}
	
	#main #navigation{
		position: absolute;
		top: 0px;
		z-index: 1000;
		color: white;
		width: 200px;
		height: 100%;
		right: 0;
		background-color: #514947;
		margin-right: 0px;
		display: none;
		border: 0px;
		border-radius: 0px;
		-webkit-box-shadow: 0px 0px 8px -1px #514947;
		-moz-box-shadow: 0px 0px 8px 1px #514947;
		box-shadow: 0px 0px 8px 1px #514947;
		
	}
	
	#navigation ul .nav-entry a {
		color: $weis;
	}
}

@media screen and (min-width: 601px) and (max-width: 900px){
	body {
		/*height: auto;*/
	}
	
	#header{
		margin: 0px;
	}
	
	#header-center{
		width: 100%;
		padding: 0px;
		border-radius: 0px;
		border-width: 0px 0px 2px 0px;
	}
	
	#header-top{
		border-radius: 0px;
		margin: 0px;
		padding: 0.5em;
		position: relative;
	}
	
	#main{
		width: 100%;
	}
	
	#main #content {
		width: 100%;
	}
	
	#content-content{
		padding: 20px 0px 20px 0px;
	}
	
	#main #navigation{
		position: absolute;
		top: 0px;
		z-index: 1000;
		color: white;
		width: 200px;
		height: 100%;
		right: 0;
		background-color: #514947;
		margin-right: 0px;
		display: none;
		border: 0px;
		border-radius: 0px;
		-webkit-box-shadow: 0px 0px 8px -1px #514947;
		-moz-box-shadow: 0px 0px 8px 1px #514947;
		box-shadow: 0px 0px 8px 1px #514947;
	}
	
	#navigation ul .nav-entry a {
		color: $weis;
	}
	
}