@import "./variables.scss";

@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,400italic,700);


*{
	font-family: 'Josefin Sans', sans-serif;
	font-size: $content;
	color: $grau;
}

p,div,section,span,td,a{
	font-size: $content;
}
a{
	text-decoration: none;
	color: $anker;
}
a:hover{
	text-decoration: underline;
}



/*######################	Tabellen	#####################################*/

th{
	font-size: $th;
}

.table{
	border-spacing: 0px;
	/*border: 2px solid rgba(227, 236, 252, 0.8);*/
	border-radius: 5px;
	/*@include shadowContent;*/
}

.row:hover{
	@include hoverBackground();
}
.row{
	
}

.table-data{
	padding: 5px 5px 5px 20px;
}
.table-data.options{
	text-align: right;
}
.table-data.options .option{
	margin: 0px 1px 0px 1px;
	font-size: $button;
	outline: none;
}

.table-data.border{
	border-bottom: 1px solid $hellgrau2;;
}
.row:last-child .table-data.border{
	border: 0px;
}


.table-heading{
	font-size: $th;
	padding: 5px 5px 5px 20px;
	text-align: left;
	color: $grau;
	background-color: $hellgrau;
	cursor: pointer;
}
.table-heading.tablesorter-headerAsc:not(.noSort){
	background-image: url(./images/metro-black-asc.png); 
	background-repeat: no-repeat;
	background-position: 5px center;
}
.table-heading.tablesorter-headerDesc:not(.noSort){
	background-image: url(./images/metro-black-desc.png); 
	background-repeat: no-repeat;
	background-position: 5px center;
}
.table-heading.tablesorter-headerUnSorted:not(.noSort){
	background-image: url(./images/metro-black-unsorted.png); 
	background-repeat: no-repeat;
	background-position: 5px center;
}
.table-heading .tablesorter-header-inner{
	color: $grau;
}
.table-heading.options{
	text-align: right;
	padding: 5px 15px 5px 5px;
}
.table-heading.options .option{
	color: $dunkelbraun;
	font-weight: normal;
}
.table-heading.border{
	border-color: $hellgrau2;
	border-width: 1px 0px 1px 0px ;
	border-style: solid;
}
.table-heading.border:first-child{
	border-color: $hellgrau2;
	border-width: 1px 0px 1px 0px ;
	border-style: solid;
	/*border-top-left-radius: 15px;*/
}
.table-heading.border:last-child{
	border-color: $hellgrau2;
	border-width: 1px 0px 1px 0px ;
	border-style: solid;
	/*border-top-right-radius: 15px;*/
}


.table-footer{
	padding: 5px 5px 5px 20px;
	text-align: left;
	color: $weis;
	background-color: $hellgrau;
}
.table-footer.border{
	border-color: $hellgrau2;
	border-width: 1px 0px 1px 0px ;
	border-style: solid;
}
.table-footer.border:first-child{
	border-color: $hellgrau2;
	border-width: 1px 0px 1px 0px ;
	border-style: solid;
	/*border-bottom-left-radius: 15px;*/
}
.table-footer.border:last-child{
	border-color: $hellgrau2;
	border-width: 1px 0px 1px 0px ;
	border-style: solid;
	/*border-bottom-right-radius: 15px;*/
}



/*######################	FORM	#####################################*/


.table-form .row:hover{
	background: none;
}

.table-form-data{
	padding: 0px 30px 15px 30px;
}
.table-form-data.options{
	text-align: right;
}
.table-form-data.options .option{
	margin: 0px 1px 0px 1px;
	font-size: 12px;
	outline: none;
}

.table-form-data.border{
	border-bottom: 1px solid $dunkelbraun;
}
.row:last-child .table-data.border{
	border: 0px;
}


.table-form-heading{
	font-size: $content;
	padding: 5px 5px 5px 20px;
	text-align: left;
	color: $grau;
	background-color: $hellgrau;
	cursor: pointer;
	display: none;
}
.table-form-heading.options{
	text-align: right;
	padding: 5px 15px 5px 5px;
}
.table-form-heading.options .option{
	color: $dunkelbraun;
	font-weight: normal;
	outline: none;
}
.table-form-heading.border{
	border-color: $dunkelbraun;
	border-width: 1px 0px 1px 0px ;
	border-style: solid;
}
/*.table-form-heading.border:first-child{
	border-color: $dunkelbraun;
	border-width: 1px 0px 1px 0px ;
	border-style: solid;
	border-top-left-radius: 15px;
}
.table-form-heading.border:last-child{
	border-color: $dunkelbraun;
	border-width: 1px 0px 1px 0px ;
	border-style: solid;
	border-top-right-radius: 15px;
}*/



.table-form tbody{
	margin-bottom: 20px;
}

.table-form-footer{
	padding: 5px 5px 5px 20px;
	text-align: left;
	color: $weis;
	background-color: $hellgrau;
	display: none;
}
.table-form-footer.border{
	border-color: $dunkelbraun;
	border-width: 1px 0px 1px 0px ;
	border-style: solid;
}
/*.table-form-footer.border:first-child{
	border-color: $dunkelbraun;
	border-width: 1px 0px 1px 1px ;
	border-style: solid;
	border-bottom-left-radius: 15px;
}
.table-form-footer.border:last-child{
	border-color: $dunkelbraun;
	border-width: 1px 1px 1px 0px ;
	border-style: solid;
	border-bottom-right-radius: 15px;
}*/

.table-form-data.info{
	box-sizing: border-box;
	width: 0%;
	text-align: right;
	padding-right: 0px;
}
.table-form-data.label{
	box-sizing: border-box;
	width: 25%;
	text-align: right;
	padding-right: 10px;
}
.table-form-data.feld{
	box-sizing: border-box;
	width: 50%;
	text-align: left;
	padding-left: 0px;
}


.table-form-data .form-feld{
	border-radius: 4px;
	border: 1px solid #cecece;
	outline: none;
	padding: 5px 5px 5px 10px;
	width: 100%;
	background-color: $weis;
	moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.07);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.07);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.07);
}


.table-form-data .form-feld.submit{
	width: 120px;
	border: 1px solid #cecece;
	cursor:pointer;
}
.table-form-data .form-feld.submit:hover{
	@include hoverBackground();
}



/*##################################	jquery	###############################*/

.ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-all,
.ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-top{
	border: 1px solid #cecece;
	outline: none;
}

#selectmenu-wrapper .ui-menu .ui-menu-item{
	padding: 7px 5px 7px 10px;
}

#selectmenu-wrapper .ui-menu .ui-menu-item.ui-state-focus{
	@include hoverBackground;
}

#selectmenu-wrapper .ui-menu ui-widget.ui-widget-content.ui-corner-bottom{
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px; 
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
	background-color: $hellbraun;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix .ui-dialog-title{
	color: $weis;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	outline: none;
	border: 1px solid #cecece;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-active{
	background-color: $hellbraun;
	color: $weis;
	border-color: inherit;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-active .ui-button-text{
	color: $weis;
}

.ui-icon.ui-icon-alert{
	margin-bottom: 5px;
}

#navigation ul {
	list-style-type: none;
	padding: 15px 0px 15px 30px;
}

#navigation ul .nav-entry{
	font-size: $content;
	margin: 5px 0px 5px 0px;
}
#navigation ul .nav-entry a{
	color: $grau;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background-color: $weis!important;
	moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.07);
}

table .jFiler-theme-default .jFiler-input{
	width: auto;
	margin: 0px;
}

.jFiler-item-title > b{
	color: $weis;
}
.jFiler-item-others{
	color: $weis;
}

.jFiler .jFiler-input-choose-btn.blue:hover {
	background-color: $hellbraun;
}

.jFiler .jFiler-input-choose-btn.blue{
	color: $hellbraun;
	border-color: $hellbraun;
}


span.colon:after{
	content: ":";
	margin-left: 2px;
}

.table-details .row:hover{
	background: none;
}

.table-details-data{
	
}

.table-details-data.label{
	text-align: right;
	padding: 0px 20px 15px 30px;
	width: 40%;
	box-sizing: border-box;
}

.table-details-data.feld{
	padding: 0px 20px 15px 0px;
	width: 60%;
	text-align: left;
	box-sizing: border-box;
}



@media screen and (min-width: 100px) and (max-width: 600px){
	table .table-data{
		padding: 5px 5px 5px 5px;
	}
}



@media screen and (min-width: 601px) and (max-width: 900px){

	table .table-data{
		padding: 5px 5px 5px 5px;
	}
	
}

/*@media (min-width:320px) {  smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:480px) {  smartphones, Android phones, landscape iPhone  }
@media (min-width:600px) {  portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (min-width:801px) {  tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) {  big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) {  hi-res laptops and desktops  }*/