#fangliste{
	width: 100%;
}

.table-data.datum {
	width: 80px;
}

.table-data.laenge{
	min-width: 30px;
}

.table-data.options{
	white-space: nowrap;
	width: 1px;
}

.table-data.laenge{
	white-space: nowrap;
	width: 1px;
}



@media screen and (min-width: 200px) and (max-width: 600px){
	
	
}

@media screen and (min-width: 601px) and (max-width: 900px){
	
}